@media (max-width: 1020px) and (min-width: 767px){
    body{
        width: 100%;
    }
    #main-content{
        margin-left: 15px;
        width: auto;
        max-inline-size: auto;
    }
    #main-content h1{
        font-size: 4.0rem;
    }
    

    #brand-section > .bcard{
        padding: 16px 30px 29px;
    }
}