:root{
    --color-purple: #9747FF;
    --color-dark: #151924; 
    --color-white: #fff;
    --color-white-red: #D9D9D9;
    --color-smoke-white: #F5F5F5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}
body a{
    text-decoration: none;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/main-img.png);
    background-size: cover;
    background-position: center;
}
/*give all class with "i-light" the following rule*/
.i-light{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
/*styling the nav bar*/
nav{
    background-color: transparent;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 51.54px;
}
.logo{
    width: 130.45px;
    height: 36px;
    display: flex;
    cursor: pointer;
}
.logo p{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    display: flex;
    align-items: center;
}
.logo img{
    width: 25.04px;
    height: 25.04px;
    transition: .3s;
}
.logo img:hover{
    transform: rotate(360deg);
}
.links{
    height: 34px;
    width: 538px;
    justify-content: center;
}
.links ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.links li{
    display: inline-block;
    padding: 0 20px;
}
.links a{
    color: #D9D9D9;
    font-size: 20px;
    line-height: 34px;
    text-align: left;
}
.links a:hover{
    color: #9747FF;
    transition: .4s;
    font-weight: bold;
}
.button{
    display: flex;
    gap: 20px;
}
.login, .register{
    padding: 7.88px 13.4px;
    font-size: 25px;
    font-weight: 400;
    border-radius: 19.71px;
    color: #D9D9D9;
    transition: .3s ease-in;
}
.login{
    background-color: #9747FF;
    border: none;
}
.login:hover{
    transform: rotate(5deg);
    background-color: transparent;
    color: #9747FF;
    border: 0.79px solid #9747FF;
}
.register{
    background-color: transparent;
    color: #9747FF;
    border: 0.79px solid #9747FF;
}
.register:hover{
    transform: rotate(-5deg);
    background-color: #9747FF;
    color: #D9D9D9;
    border: none;
}
/*done with the stying of nav bar for Desktop. starting with the styling of content inside the main section*/
#main-content{
    margin: 85px 0 0 55px;
    width: 790px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main h1{
    color:#F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.3rem;
    font-weight: 800;
    line-height: 85px;
    text-align: left;
    margin: 0;
}
.powerful{
    color: #9747FF;
}
.main p{
    font-size: 28px;
    text-align: left;
    color: #F5F5F5;
    margin: 42px 338px 70px 0;
}
.btn{
    text-align: center;
    margin-top: 30px;
}
.btn > a{
    background: linear-gradient(10deg, #9747FF, #ba73db, #9747FF);
    color: var(--color-white);
    padding: 10.04px 17.07px;
    border: 1.59px solid #9747FF;
    border-radius: 50px;
    font-size: 32px;
}
.btn > a:hover{
    box-shadow: 19.034381866455078px 31.72397232055664px 95.17192077636719px 15.86198616027832px #9747FF66;
}
/*Done with hero section moving to the about section*/
.about-section{
    background-color: var(--color-dark);
}
.card{
    height: 654px;
    display: flex;
    padding: 68px 80px 58px 80px;
    gap: 60px;
}
.left{
    width: 100%;
    box-shadow: 2px 6px 10px 0px rgba(151, 71, 255, 0.25);
}
.left img{
    width: 656px;
    height: 500.26px;
    border-radius: 30px;
    background-color: var(--color-purple);
}
.right{
    position: relative;
    height: 100%;
    width: 100%;
}
.right h3{
    font-size: 40px;
    margin: 6px 0 35px 94px;
    color: var(--color-white);
}
.right p{
    position: relative;
    font-size: 28px;
    line-height: 33.89px;
    color: var(--color-white-red);
    padding: 5px;
    z-index: 1;
}
.right > img{
    position: absolute;
    object-fit: cover;
    bottom: 0;
    width: 500px;
}