body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
}


nav{
    background-color: #141B34;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 51.54px;
}
.logo{
    width: 130.45px;
    height: 36px;
}
.logo p{
    margin: 0;
    font-family: 'inter';
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    display: flex;
    align-items: center;
}
.logo img{
    width: 25.04px;
}
.links{
    height: 34px;
}
.links ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.links li{
    display: inline-block;
    padding: 0 20px;
}
.links a{
    text-decoration: none;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}
.button{
    width: 227px;
    display: flex;
    justify-content: space-between;
}
.login{
    padding: 7.88px 13.4px;
    margin-right: 7.88px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 19.71px;
    background-color: #9747FF;

}
.register{
    padding: 7.88px 13.4px;
    margin-left: 8.88px;
}

